// from: Frog Beer

- frog = "https://s3.amazonaws.com/frog-beer/frog.png"
- frog2x = "https://s3.amazonaws.com/frog-beer/frog2x.png"

doctype html
html
  head
    title= subject
    meta(name='viewport' width='device-width' initial-scale='1')
    meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
    style
      include ../../public/css/emails.css
  body

    header
      a(href=url)
        img(src=frog srcset="#{frog2x} 2x")

    section.content
      p= currentTopic

    section.actions
      a(href=url class='link') Draw it

    section.drawings
      p= previousTopic
      each drawing in drawings
        img.drawing(src="#{drawing}")

    section.sign-off
      p Yours sincerely,
      p.signature – All frogs, everywhere.

    footer
      hr
      div unsubscribe from weekly topic emails link here w hardcoded route and query. /unsubscribe?=pirijan@gmail.com
      // div page contains... Unsubscribed! come back soon.. new topics happen every week, you can still draw things
      div contact me direct at hi@pketh.org
