// from: Frog Beer

- trello = "https://trello.com/b/sGyRPlQ0/frog-beer"

- frog = "https://s3.amazonaws.com/frog-beer/frog.png"
- frog2x = "https://s3.amazonaws.com/frog-beer/frog2x.png"

doctype html
html
  head
    title= subject
    meta(name='viewport' width='device-width' initial-scale='1')
    meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
    style
      include ../../public/css/emails.css
  body

    header
      a(href=url)
        img(src=frog srcset="#{frog2x} 2x")

    section.this-week
      h2 This Week
      p.topic= currentTopic

      section.actions
        p
          a(href=url) Draw it →
        p
          a(href=trello) Add topics

    section.last-week
      h2 Last Week
      p.topic= previousTopic

      ul.last-week
        each drawing in drawingsInLastWeek
          li(align="left")
            img.drawing(src="#{drawing}")

    footer
      hr
      p You're receiving this because you like drawing little things on the internet.
      p= " psst, you can also "
        span
          a(href="#{url}/unsubscribe-from-emails") unsubscribe
