// from: Frog Beer

if !subject
  - subject = '🐸 Confirm your account'

if !nickname
  - nickname = 'pirijan'

if !url
  - url = 'http://localhost:3000'

if !signUpUrl
  - signUpUrl = 'http://localhost:3000?sign-up-token=12345abc'

doctype html
html
  head
    title= subject
    meta(name='viewport' width='device-width' initial-scale='1')
    meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
    style
      include ../../public/css/emails.css
  body

    header
      img(src="#{url}/img/frog.png" srcset="#{url}/img/frog@2x.png 2x" width="59" height="55")

    section.content
      p= 'Dear '
        span.nickname= nickname + ','

      p We are pleased to inform you that you have a place at the Frog Beer School of Pixels and Wizardry:

    section.actions
      a(href=signUpUrl class='link') Confirm your account

    section.sign-off
      p Yours sincerely,
      p.signature – All frogs, everywhere.

    // include email-footer
